body{
	font-family: 'Helvetica Neue', cursive;
	margin: 0;
}

h1, p {
	margin: 0 auto;
}

h2 {
	text-align: center;
	font-size: 35px;
}
h3 {
	margin: 0;
	text-align: center;
	padding: 5px;
}

a:hover {
	opacity: 0.9;
	background-color: black;
}

.conteneur {
	width: auto;
	margin: 0 auto;
}

@media (max-width: 760px) {
	.conteneur {
		width: 600px;
		margin: 0 auto;

	}
}

@media (max-width: 500px) {
	.conteneur {
		width: 400px;
		margin: 0 auto;

	}
}

.header {
	background-image: url(images/applewatchheader.jpeg);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	line-height: 1.6;
	white-space: pre-line;
	color:white;
	text-align: center;
	padding-bottom: 50px;
}

.header img {
	display: block;
	width: 150px;
}
.header h1 {
	font-size: 50px
}

.btn-blue {
	background-color: rgb(78,217,230);
	color: white;
	text-decoration: none;
	border-radius: 10px;
	padding: 15px;
	margin: 20px auto;
	text-align: left;
	vertical-align: middle;
}

.logo {
	padding: 10px;
	width: 100px;
}

/*.navbar {
	float: right;
	display: block;
	position: relative;
	top: -170;
	word-spacing: 30px;
}

.navbar a {
	grid-gap: 100px;
	text-decoration: none;
	color: rgb(27,69,97);
	font-size: 25px;
}
*/
.container {
	width: 1000;
	margin: 0 auto;
}

@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}

.cards-container {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	padding: 20px;
}

@media (max-width: 760px) {
	.cards-container {
	display: inline;
	}
}

.container h2 {
	margin-bottom: 0px;
}

.cards-campus {
	background-color: white;
	border-color: grey;
	box-shadow: 0 0 16px rgba(0,0,0,0.1);
	padding: 20px;
	border-radius: 4px;
	flex-grow: 1;
}

.text-scroll {
	font-size: 32px;
	padding: 10px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.cards-campus img {
	width: 100%;
	height: 300px;
	border-radius: 5px;
	object-fit: contain;
}

.cards-campus a {
	background-color: rgb(27,69,97);
	color:white;
	text-decoration: none;
	border-radius: 10px;
	padding: 15px;
	margin-top: 10px;
}

.cards-campus p {
	text-align: center;
}
.concept {
	padding-top: 25px;
	margin: 0 auto;
	width:900;
}

.concept h2 {
	margin-bottom: 0px;
}
.cards-raisons {
	width: 900px;
	margin: 0 auto;
	grid-gap: 20px;
	padding: 35px;
	background-color: rgba(220, 220, 220, 0.7);
}

@media (max-width: 1000px) {
	.cards-raisons {
		width: auto;
	}
}

.raison {
	padding: 20px;
	text-align: center;
}

.presse {
	padding-bottom: 40px;
}

.cards-square {
	display: inline-block;
	background-color: white;
	border-color: grey;
	margin: 20px;
	padding: 40px;
	margin: 20px 0px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 5px;
	text-align: center;
}

.cards-square p {
	padding: 10px;
}
.list-horizontal {
	display: table;
	text-align: center;
	list-style: none;
	margin: 20px auto;
}

.list-horizontal img {
	width:200px;
	padding-left: 30px;
	padding-right: 30px;
	vertical-align: middle;
	justify-content: center;
}

.entreprises {
	background-image: url(images/bandzoom.png);
}
.card-black {
	background-image: url(images/bandsapplewatch.jpg);
	background-size: cover;
	color: black;
	padding: 50px;
}

.CTA {
	text-align: center;
	margin: 20px auto;
	padding: 50px;
	background-image: url(images/bandzoom.png);
	background-size: cover;
}

.CTA h1 {
	padding: 30px;
	text-align: center;
}

.footer {
	background-color: grey;
	padding: 50px;
	color: white;
}

.footer ul {
	list-style-type: none;
	padding-left: 0px;
}

.footer li {
	display: inline;
	margin-right: 15px;
}

#image-float {
	width:450;
	height: 450;
	float: left;
	position: relative;
	border-radius: 4px;
	margin: auto 40px;
}